/*--------------------------utilities----------*/

:root{
--primary-color: #047aed
--secondary-color: #1c3fa8
--dark-color: #002240
--light-color: #f4f4f4
--success-color: #5cb85c
--error-color: #d9534f
}

}
.my-2 {
  margin: 1.5rem 0;
}
.my-3 {
  margin: 2rem 0;
}
.my-4 {
  margin: 3rem 0;
}
.my-5 {
  margin: 4rem 0;
}

.m-1 {
  margin: 1rem 0;
}
.m-2 {
  margin: 1.5rem 0;
}
.m-3 {
  margin: 2rem 0;
}
.m-4 {
  margin: 3rem 0;
}
.m-5 {
  margin: 4rem 0;
}

.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 1.5rem 0;
}
.py-3 {
  padding: 2rem 0;
}
.py-4 {
  padding: 3rem 0;
}
.py-5 {
  padding: 4rem 0;
}

.p-1 {
  padding: 1rem 0;
}
.p-2 {
  padding: 1.5rem 0;
}
.p-3 {
  padding: 2rem 0;
}
.p-4 {
  padding: 3rem 0;
}
.p-5 {
  padding: 4rem 0;
}

/*--------------background and btn----------*/
.bg-primary,
.btn-primary {
  background: #047aed;
  color: #fff;
}


.bg-seconadry,
.btn-seconadry {
  background: #1c3fa8;
  color: #fff;
}

.bg-dark,
.btn-dark {
  background: #002240;
  color: #fff;
}

.bg-light,
.btn-light {
  background: #f4f4f4
  color: #333;
}

/*---------Text sizes------*/
.lead{
    font-size: 20px;
}

.sm{
    font-size: 1rem;
}

.md{
    font-size: 2rem;
}
.lg{
    font-size: 3rem;
}
.xl{
    font-size: 4rem;
}


/*------------------alert-----------------*/
.alert{
  background-color: #f4f4f4;
  padding: 10px 20px;
  font-weight: bold;
  margin: 15px 0;
}

.alert i{
  margin-right: 10px;
}

.alert-success{
  background-color: #5cb85c;
  color: #fff;
}

.alert-error{
  background-color:#d9534f;
  color: #fff;
}
/*----------------------text colors-------------------------*/
.text-primary {
  color: #047aed;
}


.text-secondary {
  color: #1c3fa8;
}

.text-dark{
  color: #002240;

}

.text-light {
  color: #f4f4f4
}
